

@keyframes animTest {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@media only screen and (min-width: 64em){
    #getActiveMQ-watcher { font-family: "default"; } 
}

/* -------------------- SECTIONS -------------------- */
body{
	background-color: #FFF;
	margin: 0px auto;
}

section {
    padding: 0px;
    margin: 0px;
}

.content {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: auto;
	margin-top:0px;
	margin-bottom:0px;
	padding: 0px 72px; 
	background-color: #FFF;
}

.headline, .home, .wiltera, .mullinera {
    box-sizing: border-box;
	margin: 0px auto;
    padding: 72px 0px 8px;
	width: 100%;
    max-width: 960px;
}

.home, .wiltera, .mullinera {
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 36px;
}

.footer {
	background-color: #FFC72C;
    padding: 8px 0px;
}	

	
/* ---------- NAVIGATION BANNER ---------- */
header {
	background-color: #FFC72C;
	padding: 10px 0px;
}
	
nav {
	display: inline;
	text-align: center;
	vertical-align: middle;
}

[role="navigation"] ul{
	float: center;
	margin:0px;
	padding: 10px 0px;
}
	
[role="navigation"] ul li{
	list-style: none;
	text-align: center;
	vertical-align: middle;
	display: inline;
	margin-left: 0px;
	padding: 0px 20px;
}

[role="navigation"] ul li a {
	color: blue;
	text-shadow: 1px 1px 0px white;
	font-family:ff-enzo-web;
	font-weight:700;
	font-size:16px;
	line-height:20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;	
}

[role="navigation"] ul li a:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-spacing: 10px;
}

[role="navigation"] ul li img {
	margin:0px;
	padding: 0px;
}

#logo {
	width: 70px;
}
	
#logo:hover {
	animation: animTest 2.5s linear 0s 1 normal none;
}
	
#nav-jump {
    border: 0px;
    border-radius: 3px;
    /* move to the upper right corner */
    position: absolute;
    z-index: 1000;
    left: auto;
    right:  -999em;
    }

#nav-jump:focus {
    right: 1em;
    left:  auto;
}

#menu-close {
	background-color:#fff;
}
	
.hidden {
	position: absolute !important;
	width:1px;
	height:1px;
	overflow: hidden;
    clip: rect(1px 1px 01px 1px); /* IE6 and IE7 use the wrong syntax */
    clip: rect(1px, 1px, 1px, 1px);
}

	
	
/* -------------------- HERO IMAGE -------------------- */
#Steph {
	position:relative;
	margin:0px;
	border:none;
	padding:0px;
	width:100%; 
	height: 640px;
	overflow: hidden;
}
	
figure#Steph img {
	object-fit: cover;
	width:120%;
	height: 100%;
	position: relative;
	top:0px;
	left: 0px;
	}

.StephHdr {
	position: absolute;
	bottom:0;
	left:0;
	background-color: black;
	color: white;
	font-size: 10px;
	font-family: ff-enzo-web, arial, san-serif;
	font-weight: 600;
	padding: 5px;
}
	
	
	
/* -------------------- <H> styles -------------------- */
h1 {
    color: #1D428A;
	font-family:ff-enzo-web;
	font-weight:900;
	font-size:72px;
	line-height:75px;
    margin: 5px 0px;
	text-transform:uppercase;
	text-align: center;
	transition: color 1s linear 0s;
}

h1:hover{
	color: #FFC72C;
}

h2 {
	color: #455560;
    font-family:ff-enzo-web;
	font-weight:300;
	font-size:40px;
	line-height:45px;
    margin: 5px 0px;
	text-transform:uppercase;
	text-align: center;

}

h3 {
    color: #1D428A;
	font-family:ff-enzo-web;
	font-weight:700;
	font-size:24px;
	line-height:30px;
    margin:0px;
    padding-bottom: 16px;
	text-align: center;	
}

h3.table {
	margin-bottom: 12px;
}

    
    
/* -------------------- TEXT STYLES -------------------- */
p {
	box-sizing: border-box;
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	text-align: left;
	color: #455560;
	vertical-align: text-top;
	width:100%;
}

p.footer {
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	color: #455560;
	margin: auto;
	vertical-align: text-top;
}

.Big3 {
	font-weight: 700;
	display: inline;
	padding:0px 0px;
}
    
    

/* -------------------- GENERAL LINKS -------------------- */
a {
	color: #1D428A;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

    
    
/* -----------------ROSTER GALLERY ---------------*/
.starters, .depth{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 780px;
    padding: 36px 0px;
    padding-bottom: 16px;
}

.starters::after {
    clear: both;
    content: ' ';
    display: block;
    height:0;
    width:0; 
    margin: 0 auto;
}

.sub {
    max-width: 960px;
    margin: 0 auto;
}

.figure {
    display: inline-block;
    float: left;
    height: auto;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

figure img {
    max-width: 100%;
    height: auto;
}

.guards {
    margin: 0 auto;
    max-width: 520px;
}

.bigs{
    margin: 0 auto;
    max-width: 780px;
}

.depth {
    overflow:hidden;
}

.bench {
    float:left;
    width: 25%;
    margin: 0%;
}

.bench:nth-child(4n+1){
    clear:both;
}

.bench:nth-child(4n+4){
    float:right;
    margin-right:0;
}

.depth1 img {
    max-width: 195px;
    height: auto;
}

figurecaption p{
    margin: 0;
    padding: 8px 0px 24px;
    text-align:center;
}

figurecaption p::first-line{
	font-weight:700;
}




/* 
--------------------------------------------------------
SMALL LAYOUT
--------------------------------------------------------
*/

@media only screen and (max-width:64em){

header {
    height: 50px;
}
    
#nav-jump {
    top: 10px;
    right: 10px;
}


/* -------------------- HERO IMAGE -------------------- */
#Steph {
	height: 400px;
    }

/* -------------------- :not :target to hide nav -------------------- */
 body:not(:target) #nav {
    max-width: 100%;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
    
body:not(:target) #nav ul {
    background-color: #1D428A;
    background-blend-mode: darken;
    border: 1px solid transparent;
    border-bottom-width: 0;
    max-width: 18em; /* 16 * 12.5 = 200 */
    position: absolute;
    right: 2%;
    top: 3em;
    z-index: 1002;
}

body:not(:target) #nav ul li{
    display: list-item;
    text-align: left;
    height: 100%;
    padding: 35.4px;
}

body:not(:target) #nav ul li img{
    display: none;
    height:0px;
    width: 0px;
}
    
body:not(:target) #nav ul li.list-img{
    display: none;
    height:0px;
    width: 0px;
}
    
body:not(:target) #nav ul li a {
    font-size: 32px;
    color: #FFC72C;
    overflow: hidden;
    height: 0;
    /* Hardware Accelerate for better animation */
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
       -moz-transition: height 1s;
        -ms-transition: height 1s;
    -webkit-transition: height 1s;
            transition: height 1s;
}
body:not(:target) #nav:target {
    /* Overlay everything */
    bottom: 0;
    height: 100%;
}
    
body:not(:target) #nav:target ul {
    background: #1D428A;
    background: rgba( 29, 66, 138, .9);
}
    
body:not(:target) #nav:target ul li a {
	text-shadow: none;
    position: relative;
    text-align: left;
    z-index: 1;
       -moz-transition: height 1s;
        -ms-transition: height 1s;
    -webkit-transition: height 1s;
            transition: height 1s;
}
    
body:not(:target) #nav-close {
    border: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

/* -------------------- DRAWER SETTINGS -------------------- */
.drawer-nav-enabled {
    /* nothing to see here :-) */
}

.drawer-nav-enabled body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
       -moz-transition: left 5s ease;
         -o-transition: left 5s ease;
    -webkit-transition: left 5s ease;
            transition: left 5s ease;
    /* Hardware acceleration for the animation */
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

.drawer-nav-enabled header #nav {
    overflow: auto;
    overflow-x: hidden;
    width: 0;
    max-width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 3;
       -moz-transition: width 5s ease;
         -o-transition: width 5s ease;
    -webkit-transition: width 5s ease;
            transition: width 5s ease;
}
.drawer-nav-enabled body #nav ul {
    position: static;
    max-width: 100%;
    }

.drawer-nav-enabled body #nav ul a {
    height: auto;
    }
    
body:not(:target) #nav:target {
    /* Overlay everything */
    bottom: 0;
     height: 100%;
}

.drawer-nav-enabled body #nav ul a:focus {
    background-color: #FFD100;
}

.drawer-nav-open {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
        background-color: #1D428A;
}

.drawer-nav-open body {
    right: 300px;
    overflow: visible;
}
                
.drawer-nav-open body #nav {
    overflow: visible;
    width: 300px;
    height: 100%;
    top: 60px;
}

.drawer-nav-open body #nav-close {
    background: black;
    background: rgba( 0, 0, 0, .5 );
    left: -100%;
    width: 100%;
    box-sizing: border-box;
}
    
#getActiveMQ-watcher { font-family: "small";}
}




@media only screen and (max-width: 940px) {  
.bigs, depth1 {
    max-width: 520px;
    }

.bench {
    float:left;
    text-align: center;
    width: 50%;
    margin: 0%;
    }

.bench:nth-child(odd){
    clear:both;
    }

.bench:nth-child(even){
    float:right;
    margin-right: 0;
    }
}



@media only screen and (max-width: 678px) {  
.starters{
    clear:left;
    max-width: 260px;
    }
}



@media only screen and (max-width: 565px) {  
h1{
        font-size: 48px;
        line-height: 52px;
    }

h2{
    font-size: 32px;
    line-height: 36px;
    }

.content {
    padding:20px;
}

.headline {
    padding-top: 18px;
}

}

