@media only screen and (min-width: 40em){
	
body{
	background-color: #FFD100;
	margin: 0px auto;
}

.content {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin: auto;
	margin-top:0px;
	margin-bottom:0px;
	padding:30px;
	padding-top: 0px;
	background-color: #FFF;
}
	
nav {
	display: inline;
	text-align: center;
	vertical-align: middle;
}

[role="navigation"] ul{
	float: center;
	margin:0px;
	padding: 10px 0px;
}
	
[role="navigation"] ul li{
	list-style: none;
	text-align: center;
	vertical-align: middle;
	display: inline;
	margin-left: 0px;
	padding: 0px 20px;
}

[role="navigation"] ul li a {
	color: blue;
	text-shadow: 1px 1px 0px white;
	font-family:ff-enzo-web;
	font-weight:600;
	font-size:16px;
	line-height:20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	
}

[role="navigation"] ul li img {
	margin:0px;
	padding: 0px;
}

#logo {
	width: 50px;
}

.pages {
	height:0px;
	visibility: visible;
	width:0px;
}
	
.menu {
	background-color: #fff;
	height:50px;
	margin: 0px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	position:fixed;
	width: 100%;
	z-index: 1;
}

/* HEADERS */
h1 {
	font-family:ff-enzo-web;
	font-weight:900;
	font-size:72px;
	line-height:72px;
	text-transform:uppercase;
	text-align: center;
	color: blue;
	margin: 0px;
}

h2 {
	font-family:ff-enzo-web;
	font-weight:600;
	font-size:40px;
	line-height:40px;
	text-transform:uppercase;
	text-align: center;
	color: #455560;
	margin: 0px 0px 30px 0px;
}

h3 {
	font-family:ff-enzo-web;
	font-weight:700;
	font-size:24px;
	line-height:30px;
	text-align: center;
	color: blue;
	margin:0px;
}

h3.table {
	margin-bottom: 12px;
}

/* TABLES - STARTERS */
table.players {
	width: 820px;
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #455560;
	margin: auto;
	margin-bottom:40px;
	vertical-align: text-top;
}

table.players tr td {
	margin:0px;
	padding:0px;
}

table.players tr td p {
	color: #455560;
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	margin: 0px;
	padding-top: 0px;
	text-align: center;
	vertical-align: text-top;
}

table.players tr td img{
	align: center;
	background: -webkit-linear-gradient(bottom, skyblue, white);
	margin:0px;
	padding:0px;
	width: 164px;
}

table.players tr td p::first-line, table.depth tr td p::first-line {
	font-weight:700;
}

/* PLAYERS - DEPTH */
table.depth tr td img{
	background: -webkit-linear-gradient(bottom, lightyellow, white);
	width: 135px;
}

table.depth {
	width: 820px;
	margin: auto;
	margin-bottom:28px;
	vertical-align: text-top;
}

table.depth tr td p {
	color: #455560;
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 15px;
	line-height: 19px;
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
}

/* PARAGRAPHS */
p {
	box-sizing: border-box;
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	text-align: left;
	color: #455560;
	vertical-align: text-top;
	width:100%;
}

p.contentbox {
	box-sizing: content-box;
	border: 10px solid blue;
	display: inline-block;
	margin-right:36px;
	padding:20px;
	width: 400px;
}

p.borderbox {
	box-sizing: border-box;
	border: 10px solid blue;
	display: inline-block;
	padding:20px;
	width:400px;
}

p.footer {
	font-family:ff-enzo-web;
	font-weight: 600;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	color: #455560;
	margin: auto;
	vertical-align: text-top;
}

/* SECTIONS */
section:nth-child(3n+1) {
	margin-bottom: 40px;
}

section:nth-child(3n+3) {
	margin-bottom: 40px;
}

main:nth-child(4n+4).home {
	margin-bottom: 40px;
}

/* STYLING */
.Big3 {
	font-weight: 700;
	display: inline;
	padding:0px 0px;
}

.empty {
	height: 80px;
	width:100%;
}

a {
	color: blue;
	text-decoration: none;
}

/* HERO IMAGE */
#Steph {
	position:relative;
	margin:0px;
	border:none;
	padding:0px;
	width:100%; 
	height: 280px;
	overflow: hidden;
}
	
figure#Steph img {
	object-fit: cover;
	width:120%;
	height: 100%;
	position: relative;
	top:0px;
	left: 0px;
	}

.StephHdr {
	position: absolute;
	bottom:0;
	left:0;
	background-color: black;
	color: white;
	font-size: 10px;
	font-family: ff-enzo-web, arial, san-serif;
	font-weight: 600;
	padding: 5px;
}

	
/*DRAWER MENU*/
  .drawer-nav-enabled {
        /* nothing to see here :-) */
    }
	
    .drawer-nav-enabled body {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
           -moz-transition: left .25s ease;
             -o-transition: left .25s ease;
        -webkit-transition: left .25s ease;
                transition: left .25s ease;
        /* Hardware acceleration for the animation */
           -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
    }
	
	.drawer-nav-enabled #menu {
		overflow: auto;
		overflow-x:hidden;
		width: 0;
		max-width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		}
	
	.drawer-nav-enabled body #menu ul {
    	position: static;
        max-width: 100%;
     	}
     
	.drawer-nav-enabled body #menu ul a {
		height: auto;
		}

	.drawer-nav-enabled body #menu ul a:hover,

	.drawer-nav-enabled body #menu ul a:focus {
		background-color: #FFD100;
                    }

	.drawer-nav-open {
		overflow: hidden;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
        }

	.drawer-nav-open body {
		right: -80%;
		overflow: visible;
            }

	.drawer-nav-open body #menu {
		overflow: visible;
		width: 80%;
        }
	
	.drawer-nav-open body #menu-close {
		background: black;
		background: rgba( 0, 0, 0, .5 );
		left: -100%;
		width: 100%;
		box-sizing: border-box;
		}
		
/* for getActiveMQ */
 #getActiveMQ-watcher { font-family: "default"; } }
	
	
/* FONTS */	
@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/56becc/000000000000000000015e9b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/56becc/000000000000000000015e9b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/56becc/000000000000000000015e9b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/176958/000000000000000000015e9f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/176958/000000000000000000015e9f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/176958/000000000000000000015e9f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/3d1905/000000000000000000015e98/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/3d1905/000000000000000000015e98/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/3d1905/000000000000000000015e98/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/e78b89/000000000000000000015ea0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/e78b89/000000000000000000015ea0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/e78b89/000000000000000000015ea0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/d37055/000000000000000000015e9a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d37055/000000000000000000015e9a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d37055/000000000000000000015e9a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/0c3de2/000000000000000000015ea1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/0c3de2/000000000000000000015ea1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/0c3de2/000000000000000000015ea1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/894287/000000000000000000015e9e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/894287/000000000000000000015e9e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/894287/000000000000000000015e9e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"ff-enzo-web";
src:url("https://use.typekit.net/af/ad2742/000000000000000000015e99/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/ad2742/000000000000000000015e99/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/ad2742/000000000000000000015e99/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;
}

.tk-ff-enzo-web { font-family: "ff-enzo-web",sans-serif; }
	
}